.search-movies__group {
    margin-bottom: 20px;
}

.search-movies__movies {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.search-movies__movie {
    display: flex;
    justify-content: center;
    
    width: 50%;
    margin-bottom: 24px;
}

.search-movies__movie:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.search-movies__not-found-message {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 70vh;
}

.search-movies__not-found-message img {
    width: 100px;
}

.search-movies__not-found-message p {
    margin-top: 20px;

    font-size: 11px;
    color: var(--gray);
    text-align: center;
    text-transform: uppercase;
}

.search-movie__link,
.search-movie__link:hover,
.search-movie__link:focus {
    text-decoration: none;
}


@media (max-width: 545px) {
    .search-movies__movie {       
        width: calc(100% / 3);
    }

    .search-movies__movie:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}