.loader {
    position: relative;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    /* background-color: ; */

    font-size: 0;

    overflow: hidden;

    cursor: wait;

    animation: spin 2s linear infinite;
}

.loader--is-center {
    margin-right: auto;
    margin-left: auto;
}

.loader__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}