.cities__current-city {
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
}

.cities__current-city-title {
    color: var(--blue);
}

.cities__current-city-icon {
    color: var(--blue);
}

.cities__error {
    color: var(--white);
    text-align: center;
}

.cities__group {
    margin-bottom: 20px;
}