.home__change-city-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;

    border-radius: 2px;
    border: none;

    background-color: var(--dark-blue);

    color: var(--white);

    cursor: pointer;

    outline: 0;
}

.home__change-city-title {
    font-size: var(--change-city_item-font-size);
    font-weight: 500;
}

.home__change-city-icon {
    color: var(--gray);
}

.home__group {
    margin-bottom: 20px;
}

.home__movies {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.home__movie {
    display: flex;
    justify-content: center;
    
    width: 50%;
    margin-bottom: 24px;
}

.home__movie:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.home__not-found-message {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 70vh;
}

.home__not-found-message img {
    width: 100px;
}

.home__not-found-message p {
    margin-top: 20px;

    font-size: 11px;
    color: var(--gray);
    text-align: center;
    text-transform: uppercase;
}

.home__link,
.home__link:hover,
.home__link:focus {
    text-decoration: none;
}