.card {
    width: 100%;
    max-width: 120px;

}

.card__cover {
    width: 100%;
    height: 180px;
    margin-bottom: 9px;

    border-radius: 2px;

    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.card__title {
    margin-bottom: 5px;

    font-size: var(--card_title-font-size);
    font-weight: 500;
    color: var(--card_title-color);
}

.card__hint {
    text-transform: uppercase;
    font-size: var(--card_hint-font-size);
    font-weight: 600;
    color: var(--card_hint-color);
}