.welcome__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.welcome__slide {
    width: 320px;
    height: 290px;

    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.welcome__title {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

.welcome__hint {
    margin-top: 15px;
    
    font-size: 13px;
    font-weight: 500;
    color: var(--gray);
    line-height: 17px;
    text-align: center;
}

.welocome__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.welcome__button {
    flex-basis: 45%;
    text-transform: uppercase;
}

.welcome__button--skip {
    background-color: var(--dark-blue) !important;
}

.welcome__change-city-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;

    border-radius: 2px;
    border: none;

    background-color: var(--blue);

    color: var(--white);

    cursor: pointer;

    outline: 0;
}

.welcome__change-city-title {
    font-size: var(--change-city_item-font-size);
    font-weight: 500;
}

.welcome__change-city-icon {
    color: var(--white);
}