* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;

    --background_page: rgb(21, 26, 48); 
    --header_background: #202745;
    --background_content: transparent;

    --blue: #327CF6;
    --dark-blue: #202745;
    --gray: #8A8C97;
    --white: #fff;
    --red: #EB5757;

    --font-size: 15px;

    --box-shadow--main: 0 20px 50px rgba(0, 0, 0, 0.8);

    --card_title-color: #fff;
    --card_title-font-size: 15px;
    --card_hint-color: #8A8C97;
    --card_hint-font-size: 12px;

    --input_border-color: #fff;
    --input_font-size: 15px;
    --input_color: #fff;

    --change-city_item-font-size: 15px;
    --change-city_item-hover-bg: rgba(255, 255, 255, 0.1);

    --movie-color: #fff;
    --movie_name-font-size: 24px;
    --movie_description-font-size: 13px;
}

.PanelHeader,
.PanelHeader * {
    box-sizing: unset;
}

.PanelHeader-bg::after {
    content: none !important;
}

.Button {
    border-radius: 2px !important;
    background-color: var(--blue);
    color: #fff;
}