.message {
    position: relative;
    z-index: 10;

    width: 100vw;
    height: 100vh;
}

.message__wrapper {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: calc(100% - 20px);

    border-radius: 2px;
    
    background-color: var(--dark-blue);

    font-size: var(--font-size);
    font-weight: 500;
    color: var(--white);

    box-shadow: var(--box-shadow--main);
}

.message__header {
    display: flex;
    justify-content: flex-end;
    
    padding: 8px;
}

.message__close {
    border: 0;

    background-color: transparent;
    
    font-size: 0;

    color: #fff;
}

.message__icon {
    margin: 25px auto;
}

.message__icon--report,
.message__icon--error {
    color: var(--red);
}

.message__children {
    margin-bottom: 20px;

    text-align: center;
}